<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentication</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/styles.css">
</head>
</head>

<body>
    <div style="height: 100vh;" class="body-wrapper">
        <div class="main">            
                <div class="header-sect">
                    <h2 class="app-name">Oauth Authentication</h2>
                    <p class="lead"> Log in to access your Routes</p>
                    <div class="login-btn">
                        <a href="/auth/google" class="btn">
                            <i class="fab fa-google left"></i> LOG IN WITH GOOGLE
                        </a>
                    </div>                
                </div>
        </div>
    </div>
</body>

</html>